.primary-button {
    background-color: $color-tertiary;
    border: none;
    border-radius: 50px;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.5rem 7.5rem;
    transition: all 0.1s;

    &:hover {
        background-color: rgba($color: $color-quaternary, $alpha: 0.8);
        transform: scale(1.05);
    }
}

.add-playlist-button {
    width: 25rem;
    height: 25rem;
    background-color: $color-tertiary;
    border-radius: 6px;
    color: $color-secondary;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
    font-weight: 900;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-large) {
        display: none;
    }

    &:hover {
        color: $color-primary;
        font-size: 25rem;
    }
}
