.nav-list {
    width: 50%;
    height: 10rem;

    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    justify-items: end;
    align-items: center;

    padding: 0 16rem;
    position: absolute;
    top: 0;
    right: 0;

    @media only screen and (max-width: $bp-huge) {
        width: 60%;
    }

    @media only screen and (max-width: $bp-huge) {
        width: 70%;
    }

    @media only screen and (max-width: $bp-largest) {
        padding: 0 5rem;
    }

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

    &__item {
        & a {
            font-size: 1.8rem;
            color: rgba($color: $color-white, $alpha: 0.7);
            transition: all 0.3s;

            &:hover {
                color: $color-white;
            }
        }
    }
}
