.nav {
    width: 100%;
    padding: 0 16rem;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: $bp-largest) {
        padding: 0 5rem;
    }

    @media only screen and (max-width: $bp-tiny) {
        justify-content: center;
    }
}

.nav-list {
    height: 10rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5.5rem;

    @media only screen and (max-width: $bp-largest) {
        gap: 3rem;
    }

    &__item {
        & a {
            font-size: 1.8rem;
            color: rgba($color: $color-white, $alpha: 0.7);
            transition: all 0.3s;

            &:hover {
                color: $color-white;
            }
        }
    }

    &__icon {
        font-size: 3rem;
    }
}
