.board {
  grid-row: 2 / 3;
  grid-column: col-start 5 / col-end 12;

  @media only screen and (max-width: $bp-giant) {
    grid-column: col-start 5 / col-end 12;
  }

  @media only screen and (max-width: $bp-huge) {
    grid-column: col-start 3 / col-end 12;
  }

  @media only screen and (max-width: $bp-grand) {
    grid-column: col-start 2 / col-end 12;
  }

  @media only screen and (max-width: $bp-largest) {
    grid-column: col-start 1 / col-end 12;
  }
}
